body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul{
    max-height: 200px;
}

.input_div{
    display: flex;
    justify-content: row;
    margin-top: 150px;
    justify-content: space-evenly;
    width: 300px;
}

.list_css{
    font-size: 20px;
    color: black;
    justify-self: left;
    font-family: 'Courier New', Courier, monospace;
}

